<div class="container">
  <% if @tasks.empty? %>
    <div class="row p-3 bg-white shadow" style="height: 10vh;">
      <div class="col border border-2 d-flex justify-content-center align-items-center bg-secondary bg-opacity-10">
        No available tasks
      </div>
    </div>
  <% end %>
  <% @tasks.each do |task| %>
    <div class="row bg-white shadow my-2 ">
      <% if task.completed %>
        <%= link_to category_task_toggle_path(current_user.username, @category, task), data: { turbo_method: :patch }, class: "col-2 col-lg-1 btn btn-secondary border-0 rounded-0 d-flex justify-content-center align-items-center", style: "background-color: #{@category.theme_color}" do %>
          <i class="bi bi-check-circle-fill text-white" style="font-size: 1.25em;"></i>
        <% end %>
      <% else %>
        <%= link_to category_task_toggle_path(current_user.username, @category, task), data: { turbo_method: :patch }, class: "col-2 col-lg-1 btn btn-secondary border-0 rounded-0 d-flex justify-content-center align-items-center" do %>
          <i class="bi bi-app text-white"style="font-size: 1.25em;"></i>
        <% end %>
      <% end %>
      <%= link_to category_task_path(current_user.username, @category, task), class: "col py-3 px-3 text-decoration-none text-reset #{"bg-danger bg-opacity-10" if !task.completed && task.overdue }" do %>
        <p class="fs-5 "><%= task.name %></p>
        <p class="m-0 text-muted">
          <span class="<%= "text-danger" if task.deadline.today? %>"><%= task.deadline %></span> 
        </p>
      <% end %>
    </div>
  <% end %>
</div>