<div class="container p-2">
  <% if obj.empty? %>
    <div class="row p-3 bg-white shadow" style="height: 10vh;">
      <div class="col border border-2 d-flex justify-content-center align-items-center bg-secondary bg-opacity-10">
        No Categories
      </div>
    </div>
  <% end %>
  <% @themes.each do |color| %>
    <div class="row g-2 mx-1 my-2">
      <% obj.each do |obj| %>
        <% if obj.theme_color == color %>
        <div class="col-12 col-md-6 col-xl-4">
          <%= link_to category_path(current_user.username, obj), class: "text-decoration-none text-reset" do %>
            <div class="p-3 text-white shadow" style="background-color: <%= color %>;">
              <p class="fs-5 mb-0 text-white <%= "text-opacity-50" if obj.tasks.count == 0 %> text-end">
                <%= obj.tasks.count %> <%= "task".pluralize(obj.tasks.count) %>
              </p>
              <p class="fs-2 fw-bold text-wrap text-capitalize"><%= obj.name %></p>
            </div>
          <% end %>
        </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>