<div class="container pb-2 mt-0 mb-4 bg-white shadow">
  <div class="nav nav-pills mb-1 row" id="pills-tab" role="tablist">
    <button class="nav-link active col rounded-0" id="pills-today-tab" data-bs-toggle="pill" data-bs-target="#pills-today" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
      <i class="bi bi-calendar-check-fill"></i> Today
    </button>
    <button class="nav-link col rounded-0" id="pills-overdue-tab" data-bs-toggle="pill" data-bs-target="#pills-overdue" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
      <i class="bi bi-clock-fill"></i> Overdue
    </button>
  </div>
  <div class="tab-content py-2" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-today" role="tabpanel" aria-labelledby="pills-today-tab" tabindex="0">
      <% if @tasks.empty? %>
        <div class="p-3 m-2 bg-secondary bg-opacity-10 border border-2 text-center">
          No scheduled tasks
        </div>
      <% end %>
      <% @tasks.each do |task| %>
          <%= link_to category_task_path(current_user.username, task.category_id, task), class: "text-decoration-none" do %>
            <div class="px-3 pt-3 pb-2 m-2 bg-secondary bg-opacity-10 border border-2 text-primary">
              <p><%= task.name %></p>
              <p class="fw-light text-end text-muted mb-0"><%= task.deadline.to_fs(:long) %></p>
            </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade" id="pills-overdue" role="tabpanel" aria-labelledby="pills-overdue-tab" tabindex="0">
      <% if @tasks_overdue.empty? %>
        <div class="p-3 m-2 bg-secondary bg-opacity-10 border border-2 text-center">
          No overdue tasks
        </div>
      <% end %>
      <% @tasks_overdue.each do |overdue| %>
        <%= link_to category_task_path(current_user.username, overdue.category_id, overdue.id), class: "text-decoration-none" do %>
          <div class="px-3 pt-3 pb-2 m-2 bg-secondary bg-opacity-10 border border-2 text-danger">
            <p><%= overdue.name %></p>
            <p class="fw-light text-end text-muted mb-0"><%= overdue.deadline.to_fs(:long) %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>