<h3><%= obj.name %></h3>
<p><%= obj.details %></p>
<ul>
  <li>ID# <%= obj.id %></li>
  <li>Deadline: <%= obj.deadline %></li>
  <li>Completed: <%= obj.completed %></li>
  <li>Overdue: <%= obj.overdue %></li>
</ul>