<%= render "layouts/components/breadcrumb", category: @category ||= nil, task: @task ||= nil %>

<div class="container my-4 border">

  <div class="container shadow">
    <div class="row p-4 text-white" style="background-color: <%= @category.theme_color %>;">
      <div class="col">
        <h1 class="pb-1 text-capitalize"><%= @category.name %></h1>
        <button class="btn btn-outline-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#categoryInfo" aria-expanded="false" aria-controls="categoryInfo">
          Info
        </button>
        <%= link_to edit_category_path(@category), class: "btn btn-outline-light btn-sm" do %>
          Edit
        <% end %>
        <%= link_to category_path(@category), data: { turbo_method: :delete, turbo_confirm: "Current category and its tasks will be deleted. Are you sure?"}, class: "btn btn-outline-light btn-sm" do %>
          Delete
        <% end %>
      </div>
      <div class="col-2">
        <p class="m-0 fs-1 text-end fw-bold"><%= @category.tasks.count %></p>
        <p class="m-0 text-end"><%= "task".pluralize(@category.tasks.count) %></p>
      </div>
    </div>
    <div class="row px-3 pt-3 pb-3 bg-white" style="border-style: solid; border-width: 2px; border-color: <%= @category.theme_color %>;">
      <div class="col collapse" id="categoryInfo">
        <p class="fs-light"><%= @category.description %></p>
        <p class="text-muted text-end">Updated <%= @category.updated_at %></p>
      </div>
    </div>
  </div>

  <div class="container px-2 my-4 d-flex justify-content-between align-items-center">
    <p class="h3 text-muted">All Tasks</p>
    <%= link_to "Add Task", new_category_task_path(@category), class: "btn btn-success" %>
  </div>

</div>

<h1>View Category</h1>
 | 

<hr>

<%= render "category", obj: @category %>

<hr>
<h2>Category Tasks</h2>
<%= link_to "New Task", new_category_task_path(@category) %>
<hr>

<% @tasks.each do |task| %>
  <ul>
  <div>
    <%= render "task", obj: task %>
    <%= link_to "View", category_task_path(@category, task) %>
  </div>
  </ul>
<% end %>

